@import url('https://fonts.googleapis.com/css2?family=Coustard&family=IBM+Plex+Mono&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  overflow: hidden;
  height: 100vh;
  background-size: 100vw auto;
  animation: textShadow 1s infinite;
}

@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgb(0 30 255 / 50%),
      -0.4389924193300864px 0 1px rgb(255 0 80 / 30%), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgb(0 30 255 / 50%),
      -2.7928974010788217px 0 1px rgb(255 0 80 / 30%), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgb(0 30 255 / 50%),
      -0.02956275843481219px 0 1px rgb(255 0 80 / 30%), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgb(0 30 255 / 50%),
      -0.40218538552878136px 0 1px rgb(255 0 80 / 30%), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgb(0 30 255 / 50%),
      -3.4794037899852017px 0 1px rgb(255 0 80 / 30%), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgb(0 30 255 / 50%),
      -1.6125630401149584px 0 1px rgb(255 0 80 / 30%), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgb(0 30 255 / 50%),
      -0.7015590085143956px 0 1px rgb(255 0 80 / 30%), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgb(0 30 255 / 50%),
      -3.896914047650351px 0 1px rgb(255 0 80 / 30%), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgb(0 30 255 / 50%),
      -3.870905614848819px 0 1px rgb(255 0 80 / 30%), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgb(0 30 255 / 50%),
      -2.231056963361899px 0 1px rgb(255 0 80 / 30%), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgb(0 30 255 / 50%),
      -0.08084290417898504px 0 1px rgb(255 0 80 / 30%), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgb(0 30 255 / 50%),
      -2.3758461067427543px 0 1px rgb(255 0 80 / 30%), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgb(0 30 255 / 50%),
      -2.202193051050636px 0 1px rgb(255 0 80 / 30%), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgb(0 30 255 / 50%),
      -2.8638780614874975px 0 1px rgb(255 0 80 / 30%), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgb(0 30 255 / 50%),
      -0.48874025155497314px 0 1px rgb(255 0 80 / 30%), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgb(0 30 255 / 50%),
      -1.8948491305757957px 0 1px rgb(255 0 80 / 30%), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgb(0 30 255 / 50%),
      -0.0833037308038857px 0 1px rgb(255 0 80 / 30%), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgb(0 30 255 / 50%),
      -0.09769827255241735px 0 1px rgb(255 0 80 / 30%), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgb(0 30 255 / 50%),
      -3.443339761481782px 0 1px rgb(255 0 80 / 30%), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgb(0 30 255 / 50%),
      -2.1841838852799786px 0 1px rgb(255 0 80 / 30%), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgb(0 30 255 / 50%),
      -2.6208764473832513px 0 1px rgb(255 0 80 / 30%), 0 0 3px;
  }
}

.header {
  padding: 1.2rem 2.2rem 1.7rem;
  max-width: 60rem;

  background-color: black;
  animation: textShadow 1.6s infinite;
  font-size: clamp(1em, 2rem + 8vh, 9rem);
  text-align: center;
  z-index: 999;
}

#bannerSVG {
  position: absolute;
  top: 0;
  left: 0;
}

.blur {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;

  filter: blur(1px);
}
